{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ARARA Makerspace</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img class="img-brand" src="{% static 'img/logo-bg-light-sm.png' %}" width="70px"
        /></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sobre-nos"
                >sobre nós</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#getin">faça parte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#courses">cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">contato</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-primary btn-nav-signup">
              Cadastro
            </button>
            <button type="button" class="btn btn-outline-primary">Login</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <img class="header-logo" src="{% static 'img/logo-bg-dark.png' %}" />
          <div class="intro-heading">
            Um espaço para você construir suas ideias
          </div>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#sobre-nos"
            >Saiba mais</a
          >
        </div>
      </div>
    </header>

    <!-- Sobre nos -->
    <section id="sobre-nos">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sobre o Makerspace</h2>
            <hr class="my-4" />
          </div>
        </div>
        <div class="row text-center">
          <p class="pl-3 pr-3">
            Um <b>Makerspace</b> é um lugar onde as pessoas se reúnem para
            compartilhar recursos e conhecimento, trabalhar em projetos,
            inventar e construir utilizando uma variedade de ferramentas e
            materiais, tornando-se um ambiente para desenvolver a criatividade,
            a inovação e a mentalidade de colaboração em comunidade. Baseado
            neste pensamento, o <b>ARARA Makerspace</b> foi criado por alunos do
            curso de graduação em Engenharia de Computação do campus UFSC
            Araranguá, com objetivo disseminar esta cultura a partir de um
            laboratório aberto a comunidade de Araranguá.
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/img1.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-3">
              <h2 class="sub-header">Um espaço para construir suas idéias.</h2>
              <p>
                Este movimento é baseado na cultura <b>DIY</b> (<i
                  >Do It Yourself</i
                >, ou, faça você mesmo) onde influencia as pessoas a tentarem
                construir ou montar um produto ou dispositivo, ao invés de
                comprá-lo. Para isso, temos um laboratório comunitário com
                equipamentos para desenvolver diversos projetos.
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/img2.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-3">
              <h2 class="sub-header">Compartilhamento de conhecimento.</h2>
              <p>
                Mais que o espaço e os materiais, os Makerspaces são ambientes
                de aprendizado colaborativo onde as pessoas se reúnem para
                compartilhar conhecimento e aprender novas habilidades. Com esse
                intuito, realizamos diversos cursos e <i>workshops</i> com foco
                em programação e eletrônica para a comunidade de Araranguá.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Faca parte -->
    <section id="getin">
      <div class="getin-section-left"></div>
      <div class="getin-section-right"></div>
      <div class="getin-section-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Faça parte desse movimento!</h2>
              <hr class="my-4" />
            </div>
          </div>
          <div class="row text-center">
            <p style="font-size: 25px">
              Enquanto nosso sistema de cadastro não fica pronto, você pode
              entrar em contato com algum integrante a partir da nossa página do
              Facebook ou a partir do fórmulário:
            </p>
          </div>
          <a class="btn btn-green btn-xl js-scroll-trigger mt-5" href="#contact"
            >Envie-nos uma Mensagem</a
          >
        </div>
      </div>
    </section>

    <!-- Cursos -->
    <section class="bg-light" id="courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cursos</h2>
            <hr class="my-4" />
          </div>
        </div>
        <div class="row align-items-center courses-card mb-5">
          <div class="col-lg-6 p-0">
            <img class="img-fluid" src="{% static 'img/img2.jpg' %}" alt="" />
          </div>
          <div class="col-lg-6">
            <div class="p-4">
              <h2 class="sub-header"><i>Data Analytics</i> em Python</h2>
              <p>
                O curso abrangeu uma visão geral sobre fundamentos de Ciência de
                Dados, utilizando ferramentas atuais de análise e visualização
                de dados em python.
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center courses-card mb-5">
          <div class="col-lg-6 order-lg-2 p-0">
            <img class="img-fluid" src="{% static 'img/arduino.jpeg' %}" alt="" />
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-4">
              <h2 class="sub-header">Curso de Arduino</h2>
              <p>
                Neste curso foi ensinado tópicos básicos de programação e
                eletrônica utilizando Arduino para o desenvolvimento de
                projetos.
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center courses-card">
          <div class="col-lg-6 p-0">
            <img class="img-fluid" src="{% static 'img/logica-prog.png' %}" alt="" />
          </div>
          <div class="col-lg-6">
            <div class="p-4">
              <h2 class="sub-header">Curso de Lógica de programação</h2>
              <p>
                Este curso foi ministrado para crianças com o intuito de
                desenvolver o raciocínio lógico, a partir de brincadeiras e
                jogos. No final, a crianças criam um jogo, utilizando a
                plataforma Code.org.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contato -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Fale conosco</h2>
            <hr class="my-4" style="border-color: #ffffff" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="name"
                      type="text"
                      placeholder="Nome"
                      required="required"
                      data-validation-required-message="Digite seu nome."
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="email"
                      type="email"
                      placeholder="Email"
                      required="required"
                      data-validation-required-message="Digite seu email."
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="phone"
                      type="tel"
                      placeholder="Telefone"
                      required="required"
                      data-validation-required-message="Digite seu número de telefone."
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      id="message"
                      placeholder="Mensagem"
                      required="required"
                      data-validation-required-message="Digite a menssagem."
                    ></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button
                    id="sendMessageButton"
                    class="btn btn-green btn-xl"
                    type="submit"
                  >
                    Enviar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; MakerSpace 2019</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/araramaker">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/araramaker">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/araramakerspace">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="text-center" style="padding-top: 10px">Endereço:</h5>
            <p class="text-center">
              Rua Pedro João Pereira, 150 – Campus UFSC Mato Alto – Sala 203 –
              Araranguá – SC
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>